@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background: #21252e;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
